// 1. Import the initial variables
@import "./node_modules/bulma/sass/utilities/initial-variables";
@import "./node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables
$navbar-background-color: $cyan;
$navbar-item-color: $white;
$navbar-dropdown-background-color: $cyan;

// 3. Set the derived variables

// 4. Setup your Custom Colors

// 5. Add new color variables to the color map.
@import "./node_modules/bulma/sass/utilities/derived-variables.sass";
